<div class="upload" id="upload">

	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon"></div>
			<div class="title main">
				<span id="appTitle">Ompload</span>
				<span class="version" id="version">v0.0.0</span>
			</div>
			<div class="title sub" id="subTitle">powered by 356 ugly honey badgers</div>
		</div>
	</div>

	<div class="palm-group">
		<div id="group-title" class="palm-group-title">LOCAL FILE</div>
		<div class="palm-list">
			<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div id="file" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="palm-group">
		<div id="group-title" class="palm-group-title">OMPLDR URL</div>
		<div class="palm-list">
			<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true" id="ompldrURL" style="color: blue; text-decoration: underline;"></div>
			</div>
		</div>
	</div>

	<div x-mojo-element="Button" id="buttonPick" class="buttonClass"></div>
	<div x-mojo-element="Button" id="buttonUpload" class="buttonClass"></div>                 

</div>
